/* 全局设置 */
* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #fdfdfd;
	font-family: Helvetica,"微软雅黑", Arial, sans-serif;
	font-size: 14px;
}

.wrap {
	max-width: 990px;
	margin: 0 auto;
	padding: 0 30px;
}

/* 框架 */

.header {
	background-color: #f27d16;
	height: 100px;
}

.header .nav {
	display: inline-block;
	
}

.nav ul li {
	display: inline-block;
	padding: 10px 20px;
}